<div class="content-area">
  <h1 class="mat-h1">About</h1>
  <h2 class="mat-h2">What is this?
  </h2>
  <p class="mat-body-1">
    I'm Elton Whybrow, a Frontend Developer from the South-East of the England.</p>
  <p class="mat-body-1">My family and many other people have enjoyed watching Seasons
    1-4 of 'Stranger Things' so much, I thought it would be great to test their knowledge on the show to see if they are
    real superfans or not. Roll on Season 5.
  </p>

  <h2 class="mat-h2">The Tech
  </h2>
  <p class="mat-body-1">
    The quiz is made in Javascript using the 'Angular' Framework version 14.<br />
    Experimented with 'Angular Material' as the (UI) component library as well as custom SCSS.<br />
    The source code is available on <a href="https://github.com/EltonWhybrow/stranger-things-quiz" class="text-link"
      target="_blank">GitHub</a>.<br />
    Deployed to GitPages the URL is <a href="https://eltonwhybrow.github.io/stranger-things-quiz/" class="text-link"
      target="_blank">https://eltonwhybrow.github.io/stranger-things-quiz/</a> (Mind you, your reading this so you're
    probably already there 🤦🏻‍♂️)
  </p>

  <h2 class="mat-h2">Comments
  </h2>
  <p class="mat-body-1">
    Any constructive comments or questions can be asked at <a href="https://widesign.co.uk/contact" class="text-link"
      target="_blank">Widesign</a>.
  </p>
  <p class="mat-body-1">Thanks for making it this far.
  </p>

</div>
