<div class="content-area">
  <h1 class="mat-h1">About</h1>
  <h2 class="mat-h2">Me
  </h2>
  <p class="mat-body-1">
    I'm Elton Whybrow, a Frontend Developer from the South-East of England.</p>
  <p class="mat-body-1">My family and many other people have enjoyed watching Seasons
    1-4 of 'Stranger Things' so much, I thought it would be great to test their knowledge on the show to see if they are
    real superfans or not. Roll on Season 5.
  </p>

  <h2 class="mat-h2">Tech
  </h2>
  <p class="mat-body-1">
    - Javascript / Angular 14 Framework<br />
    - Angular Material / SCSS.<br />
    - Sketch / illustrator<br />
    - Source code on <a href="https://github.com/EltonWhybrow/stranger-things-quiz" class="text-link"
      target="_blank">GitHub</a>.<br />
    - Deployed GitPages <a href="https://eltonwhybrow.github.io/stranger-things-quiz/" class="text-link"
      target="_blank">https://eltonwhybrow.github.io/stranger-things-quiz/</a>
  </p>

  <h2 class="mat-h2">Feedback
  </h2>
  <p class="mat-body-1">
    Any constructive comments or questions can be asked at <a href="https://widesign.co.uk/contact" class="text-link"
      target="_blank">Widesign</a>.
  </p>
  <p class="mat-body-1">Thanks for making it this far.
  </p>
</div>
