.footer {
  padding: 15rem 0.5rem 2rem;
  color: white;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    margin: 2rem 0 !important;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }

  .social {
    position: relative;
    .share-icon {
      display: none;
      @media (min-width: 576px) {
        display: block;
        position: absolute;
        left: calc(50% - 30px);
        top: -50px;
      }
    }
  }
}
