.score,
.hi-score {
  display: none;
  position: relative;
  background: #cddc39;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  line-height: 36px;
  padding: 0 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  float: right;
  width: auto;
  margin-right: 0.7rem;
  button {
    position: absolute;
    right: -3rem;
    top: -0.6rem;
  }
}

.hi-score {
  background-color: #795548;
  color: white;
}

.header-container {
  display: flex;
  > div,
  h1 {
    flex: 50%;
  }
}

.mobile-score {
  line-height: 36px;
  padding: 0 16px;
  background: #795548;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  display: inline-block;
  margin-left: 3px;
}

.mat-fab {
  font-size: 1.5rem !important;
}

.game {
  width: 100%;
  height: 650px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 30%;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px #ea3910;
}

.hole:after {
  display: block;
  background: url(/assets/imgs/game/pumpkin-patch.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -10px;
}

.mole {
  background: url(/assets/imgs/game/whack-a-gorgon.svg) bottom center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

@media (min-width: 576px) {
  .mole {
    background-size: 70%;
  }
  .mobile-score {
    display: none;
  }
  .score,
  .hi-score {
    display: block;
  }
}

.hole.up .mole {
  top: 0;
}
