<div class="content-area">
  <div class="header-container">
    <h1 class="mat-h1">Whack a Gorgon!</h1>
    <div>
      <div class="score">Score:
        <button mat-fab [color]="score > 0 ? 'accent' : 'primary'" aria-label="current score">
          {{score}}
        </button>
      </div>
      <div class="hi-score">Hi-Score: {{hiScore}}</div>
    </div>
  </div>


  <p class="mat-body-1">
    <span *ngIf="playerName">Okay, {{playerName}}!</span> You have 15 seconds to take out as many Demogorgons as
    possible. Let the games begin.<br /> Who will reign champion
    'Gorgon' killer?
  </p>

  <div class="game-button">
    <button (click)="startGame()" routerLinkActive="is-active" aria-label="play game quiz" mat-flat-button
      color="accent" [disabled]="disablePlay">
      {{playText}}</button>
    <div class="mobile-score" color="accent">Score: {{score}}
    </div>
  </div>

  <div class="game">
    <ng-container *ngFor="let _ of [].constructor(6), let i = index">
      <div #holes class="hole hole{{i + 1}}">
        <div class="mole" (click)="bonk($event)"></div>
      </div>
    </ng-container>
  </div>

</div>
