<header>
  <mat-toolbar class="navbar" color="primary">
    <div class="logo">
      <img class="logo__main" src="../../../assets/imgs/logo/st-logo.png" width="380px" alt="Logo">
      <div class="quiz-text container">
        <h1 class="neonText">
          Quiz
        </h1>
        <h2 class="neonText">Night</h2>
      </div>
    </div>

    <div class="simple-nav">
      <button routerLink="/" routerLinkActive="is-active" mat-icon-button color="accent" class="button home-icon"
        aria-label="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button color="accent" routerLink="/characters" routerLinkActive="is-active"
        aria-label="character info" class="button">
        Characters
      </button>
      <button mat-stroked-button color="accent" routerLink="/quiz" routerLinkActive="is-active" aria-label="show quiz"
        class="button">
        Quiz
      </button>
    </div>

  </mat-toolbar>

</header>
