<header>
  <mat-toolbar class="navbar" color="primary">
    <div class="logo">
      <a routerLink="/">
        <img class="logo__main" src="./assets/imgs/logo/st-logo.png" alt="Logo">
      </a>
      <div class="quiz-text">
        <h1 class="neonText">
          Quiz
        </h1>
        <h2 class="neonText">Night</h2>
      </div>
    </div>

    <div class="simple-nav">
      <!-- <button routerLink="/" routerLinkActive="is-active" mat-icon-button color="accent" class="button home-icon"
        aria-label="Home">
        <mat-icon>home</mat-icon>
      </button> -->
      <button mat-stroked-button color="accent" routerLink="/characters" routerLinkActive="is-active"
        aria-label="character info" class="button">
        Characters
      </button>
      <button mat-stroked-button color="accent" routerLink="/quiz" routerLinkActive="is-active" aria-label="show quiz"
        class="button">
        Quiz
      </button>
      <ng-container *ngIf="this.dataService.quizWinner">
        <button mat-stroked-button color="accent" routerLink="/game" routerLinkActive="is-active" aria-label="show quiz"
          class="button">
          Game
        </button>
      </ng-container>
      <button mat-stroked-button color="accent" routerLink="/about" routerLinkActive="is-active" aria-label="about"
        class="button">
        About
      </button>
      <button mat-stroked-button color="accent" (click)="changeTheme()" aria-label="Change theme" class="button"
        title="Change background">
        <mat-icon>collections</mat-icon>
      </button>


    </div>

  </mat-toolbar>

  <!-- Mobile nav -->
  <div id="burger-nav" class="">

    <!-- Burger button -->
    <button class="burger-toggle" type="button" aria-label="Toggle navigation" (click)="toggleBurgerNav()">
      <div id="nav-burger-ani" [ngClass]="{
      'open':burgerActive}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </button>

    <!-- Burger content -->
    <nav id="burger-nav__list" role="navigation" aria-label="Main" [ngClass]="{
        'open':burgerActive}">

      <div class="logo">
        <a routerLink="/" (click)="this.burgerActive = false;">
          <img class="logo__main" src="./assets/imgs/logo/st-logo.png" width="180px" alt="Logo">
        </a>
        <div class="quiz-text">
          <h1 class="neonText">
            Quiz
          </h1>
          <h2 class="neonText">Night</h2>
        </div>
      </div>


      <ul>
        <!-- <li>
          <button mat-stroked-button color="accent" routerLink="/" routerLinkActive="is-active" aria-label="Home"
            class="button mat-display-1" (click)="this.burgerActive = false;">
            Home
          </button>
        </li> -->
        <li>
          <button mat-stroked-button color="accent" routerLink="/characters" routerLinkActive="is-active"
            aria-label="character info" class="button mat-display-1" (click)="this.burgerActive = false;">
            Characters
          </button>
        </li>
        <li>
          <button mat-stroked-button color="accent" routerLink="/quiz" routerLinkActive="is-active"
            aria-label="show quiz" class="button mat-display-1" (click)="this.burgerActive = false;">
            Quiz
          </button>
        </li>

        <ng-container *ngIf="this.dataService.quizWinner">
          <li>
            <button mat-stroked-button color="accent" routerLink="/game" routerLinkActive="is-active"
              aria-label="show quiz" class="button mat-display-1" (click)="this.burgerActive = false;">
              Game
            </button>
          </li>
        </ng-container>

        <li>
          <button mat-stroked-button color="accent" routerLink="/about" routerLinkActive="is-active"
            aria-label="show quiz" class="button mat-display-1" (click)="this.burgerActive = false;">
            About
          </button>
        </li>

        <li>
          <button mat-stroked-button color="accent" (click)="changeTheme()" aria-label="Change theme" class="button"
            title="Change background">
            <mat-icon>collections</mat-icon>
          </button>
        </li>

      </ul>

    </nav>

  </div>





</header>
