// .mat-card {
//   background-color: rgb(0, 0, 0, 0.9) !important;
//   color: white !important;
// }
.show-info {
  padding: 4rem;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  border-radius: 20px;
}
