<ng-container *ngIf="showData$ | async as show ; else loading">
  <div class="content-area">
    <h1 class="mat-h1">Welcome to the Stranger Things Quiz!</h1>
    <h2 class="mat-h2">Information about the show
    </h2>
    <p class="mat-body" [innerHtml]="show[0].synopsis"></p>


    <mat-grid-list cols="3">
      <mat-grid-tile>
        <div>
          <p class="highlight-para">Years on air: </p>
          <p class="mat-body">{{show[0].yearsAired}}</p>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="highlight-para">Creators: </p>
          <p *ngFor="let creator of show[0].creators" class="mat-body">{{creator.name}} - <a href="{{creator.url}}"
              target="_blank" class="text-link">imdb</a></p>
        </div>
        <!-- <a href="{{creator.url}}" target="_blank" class="mat-h2 ">{{creator.name}}</a> -->
      </mat-grid-tile>
      <mat-grid-tile>
        <button routerLink="/quiz" routerLinkActive="is-active" aria-label="show quiz" mat-flat-button color="primary">
          Do the quiz!</button>
      </mat-grid-tile>

    </mat-grid-list>

    <!--
    <p class="accent-color">Years on air:</p>
    <p class="mat-h2 ">{{show[0].yearsAired}}</p> -->

    <!-- <p class="accent-color">Creators:</p>
      <ul>
        <li *ngFor="let creator of show[0].creators" role="listitem">
          <a href="{{creator.url}}" target="_blank" class="mat-h2 ">{{creator.name}}</a>
        </li>
      </ul> -->

  </div>
</ng-container>

<ng-template #loading>Loading...</ng-template>
