<ng-container *ngIf="showData$ | async as show ; else loading">
  <div class="content-area">
    <h1 class="mat-h1">My 'Stranger Things' Quiz</h1>
    <h2 class="mat-h2">Show info
    </h2>
    <p class="mat-body-1" [innerHtml]="show[0].synopsis"></p>


    <h2 class="mat-h2">How to play
    </h2>
    <p class="mat-body-1">Once you go to the <a routerLink="/quiz" routerLinkActive="is-active" aria-label="show quiz"
        class="text-link">'Quiz'</a> page you get the chance to prove your fandom by answering 20
      questions on season 1-4 of Stranger Things. You will NOT find out your score untill the end, so you will have to
      be a real fan to get all 20 correct (without cheating , that is!)</p>
    <p class="mat-body-1">You can get a little refresher on the main <a routerLink="/characters"
        routerLinkActive="is-active" aria-label="show quiz" class="text-link">characters</a> by going to the characters
      menu page, but if you're a real fan you shouldn't need to do that.</p>
    <p class="mat-body-1">Update: Added the 'Whack a Gorgon' <a routerLink="/game" routerLinkActive="is-active"
        aria-label="game" class="text-link">game</a>.</p>
    <p class="mat-body-1">All the best and GOOD LUCK.</p>

    <div class="quiz-button">
      <button routerLink="/quiz" routerLinkActive="is-active" aria-label="show quiz" mat-flat-button color="accent">
        Do the quiz!</button>
    </div>




    <mat-grid-list cols="2" rowHeight="130px">
      <mat-grid-tile>
        <div>
          <p class="highlight-para">Years on air: </p>
          <p class="mat-body">{{show[0].yearsAired}}</p>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="highlight-para">Creators: </p>
          <p *ngFor="let creator of show[0].creators" class="mat-body">{{creator.name}} - <a href="{{creator.url}}"
              target="_blank" class="text-link">imdb</a></p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</ng-container>

<ng-template #loading>Loading...</ng-template>