// .character-img {
//   width: 450px !important;
//   display: block;
// }

// Modal
.mat-dialog-container {
  background-color: transparent !important;
  // border: solid 1px #ea3910;
  color: white !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.85) !important;
}
