<div class="content-area">
  <button routerLink="/characters" mat-mini-fab color="accent" aria-label="back to characters" class="back">
    <mat-icon> arrow_back</mat-icon>
  </button>
  <ng-container *ngIf="characterDetails as details else loading">

    <div class="character-photo">
      <picture>
        <source srcset="{{details.images.details}}.webp" type="image/webp">
        <source srcset="{{details.images.details}}.png" type="image/png">
        <img mat-card-image class="character-img" src="{{details.images.details}}.png" alt="{{details.name.show}}"
          width="300px" height="auto">
      </picture>
    </div>


    <div class="character-info">

      <mat-card class="details">
        <mat-card-header>
          <mat-card-title class="mat-card-title">
            {{details.name.show}}
          </mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle highlight-para">({{details.name.real}})</mat-card-subtitle>
          <div mat-card-avatar class="header-image" style="
          background-image: url({{details.images.main}}.png);
          background-color: white;
          background-size: cover;">
          </div>
        </mat-card-header>

        <mat-card-content>

          <p class="mat-subheading-2" [innerHtml]="details.lowdown">
            <span class="">In the beginning:</span>
          </p>

        </mat-card-content>
      </mat-card>
      <mat-card class="details">

        <mat-card-content>
          <p class="mat-subheading-2">
            Gender:
            <span class="highlight-para">
              {{details.gender}}
            </span>
          </p>

          <ng-container *ngIf="details.occupation.length">
            <p class="mat-subheading-2" style="margin-bottom: -5px">
              Occupation:
            </p>

            <span style="display: inline-block;" *ngFor="let job of details.occupation; ; last as isLast"
              class="mat-subheading-2 highlight-para">
              {{job}} {{isLast ? '' : ',&nbsp;' }}
            </span>
          </ng-container>

          <ng-container *ngIf="details.nicknames.length">
            <p class="mat-subheading-2" style="margin-bottom: -5px">
              Nicknames:
            </p>

            <span style="display: inline-block;" *ngFor="let nickname of details.nicknames; ; last as isLast"
              class="mat-subheading-2 highlight-para">
              {{nickname}} {{isLast ? '' : ',&nbsp;' }}
            </span>
          </ng-container>

          <p class="mat-subheading-2" style="margin-bottom: -5px">
            Famous Quotes:
          </p>
          <div *ngFor="let saying of details.sayings">
            <p class="mat-subheading-2 highlight-para" style="margin-bottom: -5px">"{{saying}}"</p>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </ng-container>

  <ng-template #loading>
    <div class="">
      Loading details...
    </div>
  </ng-template>

</div>
