<ng-container *ngIf="characterDetails$ | async as details else loading">
  <mat-card>

    <button routerLink="/characters" mat-mini-fab color="primary" aria-label="back to characters">
      <mat-icon> arrow_back</mat-icon>
    </button>


    <mat-grid-list cols="2" rowHeight="200px" gutterSize="0">

      <mat-grid-tile>
        <mat-card-header>
          <mat-card-title>{{details.name.show}}
          </mat-card-title>
          <mat-card-subtitle>({{details.name.real}})</mat-card-subtitle>
        </mat-card-header>
      </mat-grid-tile>

      <mat-grid-tile>
        <img src="{{details.images.main}}.png" alt="{{details.name.show}}" width="auto" height="200">
      </mat-grid-tile>
    </mat-grid-list>

    <mat-card-content>
      <p class="mat-subheading-2">
        <span class="secondary">Age:</span>
        {{details.age}}
      </p>

      <p class="mat-subheading-2">
        <span class="secondary">Gender:</span>
        {{details.gender}}
      </p>

      <p class="mat-subheading-2">
        <span class="secondary">Occupation:</span>
        {{details.occupation}}
      </p>
      <!-- <p class="mat-subheading-2">
        <span class="secondary">Species:</span>
        {{details.}}
      </p> -->

      <!-- <p class="mat-subheading-2" *ngIf="details.homePlanet">
        <span class="secondary">Home Planet:</span>
        {{details.homePlanet}}
      </p> -->

      <p class="mat-subheading-2">
        <span class="secondary">Nicknames:</span>
      </p>
      <div *ngFor="let nickname of details.nicknames">
        <p class="mat-caption">"{{nickname}}"</p>
      </div>


      <p class="mat-subheading-2">
        <span class="secondary">Common Quotes:</span>
      </p>
      <div *ngFor="let saying of details.sayings">
        <p class="mat-caption">"{{saying}}"</p>
      </div>
    </mat-card-content>

  </mat-card>
</ng-container>

<ng-template #loading>
  <div class="">
    Loading details...
  </div>
</ng-template>
