<div class="content-area">
  <mat-grid-list *ngIf="showCharacters$ ; else loading" [cols]="cols" [rowHeight]="rowHeight" gutterSize="1rem">


    <mat-grid-tile class="character" *ngFor="let character of showCharacters$ | async"
      (click)="getCharacterDetails(character.idString)">

      <div>
        <div class="name-sign">
          <h1>{{character.name.show}}</h1>
          <div class="highlight-para">{{character.name.real}}
          </div>
          <img class="name-star" src="./assets/imgs/cast/star.svg" alt="star">
          <img class="name-star-small" src="./assets/imgs/cast/star.svg" alt="star-small">
          <img class="name-star-smallest" src="./assets/imgs/cast/star.svg" alt="star-smallest">
        </div>


        <!-- <picture>
          <source srcset="{{character.images.main}}.webp" type="image/webp">
          <source srcset="{{character.images.main}}.png" type="image/png"> -->
        <img class="character-img switch-me" src="{{character.images.main}}.png" alt="{{character.name.show}}">
        <!-- </picture> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
</div>
