.mat-card {
  // width: 100%;
  // height: auto;
  background-color: transparent;
  color: white;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
}

.character-photo {
  margin: 1rem auto 0;
  max-width: 800px;
}

.character-info {
  display: inline-flex;
  flex-wrap: wrap;
  .details {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .character-info {
    flex-wrap: nowrap;
    justify-content: center;
    .details {
      width: 40%;
    }
  }
}

.mat-subheading-2 {
  margin-bottom: 0;
}
