/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.main-bg {
  &.theme-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(assets/imgs/backgrounds/bkg-1.jpeg);
  }
  &.theme-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(assets/imgs/backgrounds/bkg-2.jpeg);
  }
  &.theme-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(assets/imgs/backgrounds/bkg-3.jpeg);
  }
  &.theme-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(assets/imgs/backgrounds/bkg-4.jpeg);
  }

  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: 576px) {
  .main-bg {
    background-attachment: fixed;
  }
}

.content-area {
  position: relative;
  padding: 1rem;
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

.container {
  width: 100%;
  margin: 50px 0;
  margin-right: auto;
  margin-left: auto;
}

h2.mat-h2 {
  text-decoration: underline;
  font: 400 18px / 30px Roboto;
}

.quiz-button,
.game-button {
  text-align: center;
  padding: 0.7rem;
}

.whats-app-desk {
  display: none !important;
}
.whats-app-mob {
  display: block !important;
}

#burger-nav__list button.is-active {
  text-decoration: underline;
}

.simple-nav button.is-active {
  background-color: rgba(205, 220, 57, 0.2);
}

@media (min-width: 576px) {
  .content-area {
    padding: 4rem 1rem;
  }
  .container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .content-area {
    padding: 4rem;
  }
  .whats-app-mob {
    display: none !important;
  }
  .whats-app-desk {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1080px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 65%;
  }
}

.hole:after {
  background: url(./assets/imgs/game/pumpkin-patch.png) bottom center;
}

.mole {
  background: url(./assets/imgs/game/whack-a-gorgon.svg) bottom center;
}
