// Import library functions for theme creation.
@use "../node_modules/@angular/material" as mat;
@import "../node_modules/@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$my-primary: mat-palette($mat-brown);
$my-accent: mat-palette($mat-lime);
// $accent: mat-palette($mat-pink, A200, A100, A400); A shite was failing???
$theme: mat-light-theme($my-primary, $my-accent);

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin stranger-things-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  // Get a contrast color for a hue by adding `-contrast` to any other key.
  // border-color: mat-color($primary, "100-contrast");
  // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.

  // Custom styles
  .highlight-para {
    color: mat-color($accent);
  }

  .text-link {
    color: mat-color($accent, 800);
  }

  #nav-burger-ani span {
    background-color: mat-color($accent);
  }
}

// Typograpghy custom
$st-custom-typography: mat.define-typography-config(
  // TODO: https://material.angular.io/guide/typography
  $font-family: "Roboto",
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400)
);

// Include custom typography.
@include mat.core($st-custom-typography);
// Include theme styles for Angular Material components.
@include angular-material-theme($theme);
// Include theme styles for your custom components.
@include stranger-things-theme($theme);
