<div class="content-area">
  <h1 class="mat-h1">Sorry! This page does not exist...weirdo</h1>
  <p class="mat-body-1"> Back to <a [routerLink]="['/']" class="text-link">homepage</a> to
    try
    again.
  </p>

  <div class="character-photo">
    <picture>
      <source srcset="./assets/imgs/page-not-found.webp" type="image/webp">
      <source srcset="./assets/imgs/page-not-found.png" type="image/png">
      <img mat-card-image class="character-img" src="./assets/imgs/page-not-found.png" alt="404 page" width="auto"
        height="auto">
    </picture>
  </div>

</div>
